<div class = "row text-center">
  <h1>Welcome to Des Chiffres et surtout des LETTRES</h1>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <form action="/game">
      <div class="form-group">
        <input type="text" class="form-control" id="question" name="size" placeholder="Type the length of the grid">
        <input type="submit" class="btn btn-primary" value="Are you ready to play??">

        <input type="hidden" name="time" value="<%=Time.now%>">

      </div>
    </form>
  </div>
</div>


